body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    text-align: center;
}

.container {
    padding: 20px;
}

h1 {
    margin-bottom: 10px;
}

.info-box {
    margin-bottom: 15px;
}

button {
    padding: 8px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

#map {
    height: 500px;
    width: 90%;
    margin: auto;
    border-radius: 10px;
}